@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
html{
  scroll-behavior: smooth;
}
body{
  height: 2740;
  width: 100%;
}
main {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-around;
margin-right: 100px;

    width: 100%;
    max-width: 2440px;
}
.main__info {
width: 100%;
max-width: 570px;
}
.main__info img{
    margin-left: 90px;
border-radius: 30px;
}
.main__info p {
    font-size: 18px;
    margin: 20px 28px 28px;
    margin-left: 45px;
}
.main__info div {
    display: flex;
    column-gap: 32px;
}

 

.e{width: 100%;
    max-width: 250px;
    padding: 10px 10px;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 60;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 0.3px;
    transform: skew(-10deg);
background: #C0B49A;
} 

.main__info div button{
    width: 100%;
    max-width: 400px;
    padding: 10px 10px;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 60;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 0.3px;
    transform: skew(-10deg);
    background: transparent;
    border: 1px solid burlywood;
}
.cr{
    flex: 1;

    display:flex;
    align-items: center;
    justify-content: space-around;
margin-left: 100px;
margin-top: 50px;
    width: auto;
    max-width: 1440px;
}
.cr img{
    border-radius: 15px;
    position: absolute;
    top: 55vh;
    left: 12vw;
}
.tooltip h3{
     position: static;
     margin: 17vh 0vw 0 26vw;
     font-size: 30px;
     font-family: 'Pixelify Sans', cursive;
     cursor: pointer;
     color: #C0B49A ;
     text-decoration: wavy;
}
.cr p{
    text-align: center;
    margin-right: 10vw;
    margin-left: 30vw;
    top: 72vh;
     position: absolute;
     word-break:normal;
     font-size: 18px;
}

.tooltip {
    position: relative;
    display:flex;
  border-bottom: 0px dotted black;
   padding: 5px;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 21%;
    background-color: #000000;
    color: #C0B49A;
    text-align: center;
    border-radius: 6px;
    padding: 5px ;
  
    position: absolute;
    z-index: 2;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    top: 10vh;
    left:35vw;

  }
  .tooltiptext::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
.tes{
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-around;
margin-right: 100px;
margin-top: 50px;
    width:auto;
    max-width: 1440px;
}
.tes img{
    border-radius: 15px;
    position: absolute;
    top: 112vh;
    right: 20vh;
}
.tes p{
    text-align: center;
    margin-left: 200px;
    margin-right: 400px;
    top: 130vh;
     position: absolute;
     word-break:normal;
   font-size: 18px;
}
.tooltip2 h3{
    display:inline-table;
     position:static;
     font-size: 30px;
     margin: 43vh 500px 50px 200px;
     font-family: 'Pixelify Sans', cursive;
     cursor: pointer;
     color: #C0B49A ;
}
.tooltip2 {
    position: relative;
    display: inline-block;
    padding: 5px;
   
  }
  .tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 9%;
    background-color: black;
    color: #C0B49A;
    text-align: center;
    border-radius: 6px;
   
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .tooltip2:hover .tooltiptext2 {
    visibility: visible;
    top: 40vh;
  right:50vw;
  }
  .tooltiptext2::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
.ces{
    flex: 1;

    display:flex;
    align-items: center;
    justify-content: space-around;
margin-left: 100px;
margin-top: 50px;
    width: auto;
    max-width: 1440px;
}
.ces img{
    border-radius: 15px;
    position: absolute;
    top: 20vh;
   left: -12vw;
}
.ces p {
     text-align: center;
    margin-right: -10vw;
    margin-left: 7vw;
    top: 210px;
     position: absolute;
     word-break:normal;
     font-size: 18px;
}
.tooltip3 h3{
    position: static;
    margin: 170px 50px 50px 26vw;
    font-size: 30px;
    font-family: 'Pixelify Sans', cursive;
    cursor: pointer;
    color: #C0B49A ;
}
.tooltip3 {
    position: relative;
    display: inline-block;
    padding: 5px;
  }
  .tooltip3 .tooltiptext3 {
    visibility: hidden;
    width: 15%;
    background-color: hsl(0, 0%, 0%);
    color: #C0B49A;
    text-align: center;
    border-radius: 6px;
  
    position: absolute;
    z-index: 2;
  }
  .tooltip3:hover .tooltiptext3 {
    visibility: visible;
    top: 22vh;
  left:33vw;
  }
  .tooltiptext3::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
}
.Edu{
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-around;
margin-right: 100px;
margin-top: 50px;
    width:auto;
    max-width: 1440px;
}
.Edu img{
    border-radius: 15px;
    position: absolute;
    top: 34vh;
    right: 10vh;
}
.Edu p{
    text-align: center;
    margin-left: 10vw;
    margin-right: 25vw;
    top: 300px;
     position: absolute;
     word-break:normal;
     font-size: 17px;
}
.tooltip4 h3{
    display:inline-table;
     position:static;
     font-size: 30px;
     margin: 260px 10vw 50px 17vw;
     font-family: 'Pixelify Sans', cursive;
     cursor: pointer;
     color: #C0B49A ;
}
.tooltip4 {
    display: inline-block;
   position: relative;
   padding: 5px;
  }
  .tooltip4 .tooltiptext4 {
    visibility: hidden;
    width: 9%;
    background-color: hsl(0, 0%, 0%);
    color: #C0B49A;
    text-align: center;
    text-align: center;
    border-radius: 6px;
    padding: 1px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .tooltip4:hover .tooltiptext4 {
    visibility: visible;
    top: 230px;
  left:30vw;
  }
  .tooltiptext4::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
  }
    .Barb{
        flex: 1;
    
        display:flex;
        align-items: center;
        justify-content: space-around;
    margin-left: 100px;
    margin-top: 50px;
        width: auto;
        max-width: 1440px;
    }
    .Barb img{
        border-radius: 15px;
        position: absolute;
        top: 90vh;
        left: 8vw;
    }
    .Barb p {
        text-align: center;
        margin-right: 80px;
        margin-left: 27vw;
        top: 710px;
         position: absolute;
         word-break:normal;
         font-size: 18px;
    }
    .tooltip5 h3{
        position: static;
        margin: 270px 150px 40px 48vw;
        font-size: 30px;
        font-family: 'Pixelify Sans', cursive;
        cursor: pointer;
        color: #C0B49A ;
    }
      .tooltip5 {
        position: relative;
        display: inline-block;
        padding: 5px;
      }
      .tooltip5 .tooltiptext5 {
        visibility: hidden;
        width: 9%;
        background-color: hsl(0, 0%, 0%);
        color: #C0B49A;
        text-align: center;
        border-radius: 6px;
        padding: 1px;
      
        position: absolute;
        z-index: 2;
      }
      .tooltip5:hover .tooltiptext5 {
        visibility: visible;
        top: 240px;
      left:55vw;
      }
      .tooltiptext5::after{
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #000000 transparent transparent transparent;
    }
    .Ant{
        flex: 1;
    
        display: flex;
        align-items: center;
        justify-content: space-around;
    margin-right: 100px;
    margin-top: 50px;
        width:auto;
        max-width: 1440px;
    }
    .Ant img{
        border-radius: 15px;
    position: absolute;
    top: 150vh;
    right: 10vh;
    }
    .Ant p{
        text-align: center;
    margin-left: 9vw;
    margin-right: 25vw;
    top: 168vh;
     position: absolute;
     word-break:normal;
     font-size: 18px;
    }
    .tooltip6 h3{
        display:inline-table;
         position:static;
         font-size: 30px;
         margin: 33vh 500px 50px 18vw;
         font-family: 'Pixelify Sans', cursive;
         cursor: pointer;
         color: #C0B49A ;
        }
        .tooltip6 {
          position: relative;
          display: inline-block;
          padding: 5px;
        }
        .tooltip6 .tooltiptext6 {
          visibility: hidden;
          width: 9%;
          background-color: hsl(0, 0%, 0%);
          color:#C0B49A ;
          text-align: center;
          border-radius: 6px;
          padding: 1px;
        
          position: absolute;
          z-index: 2;
        }
        .tooltip6:hover .tooltiptext6 {
          visibility: visible;
          top: 188px;
        left:28vw;
        }
        .tooltiptext6::after{
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #000000 transparent transparent transparent;
      }
      .Selma{
        flex: 1;
    
        display:flex;
        align-items: center;
        justify-content: space-around;
    margin-left: 100px;
    margin-top: 50px;
        width: auto;
        max-width: 1440px;
    }
    .Selma img{
        border-radius: 15px;
        position: absolute;
        top: 205vh;
        left: 8vw;
    }
    .Selma p {
        text-align: center;
        margin-right: 80px;
        margin-left: 27vw;
        top: 225vh;
         position: absolute;
         word-break:normal;
    }
    .tooltip7 h3{
        position: static;
        margin: 35vh 50px 0 650px;
        font-size: 30px;
        font-family: 'Pixelify Sans', cursive;
        cursor: pointer;
        color: #C0B49A ;
    }
    .tooltip7 {
        position: relative;
        display: inline-block;
        padding: 5px;
      }
      .tooltip7 .tooltiptext7 {
        visibility: hidden;
        width: 10%;
        background-color: hsl(0, 0%, 0%);
        color:#C0B49A ;
        text-align: center;
        border-radius: 6px;
        padding: 1px;
      
        position: absolute;
        z-index: 2;
      }
      .tooltip7:hover .tooltiptext7 {
        visibility: visible;
        top: 30vh;
      left:55vw;
      }
      .tooltiptext7::after{
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #000000 transparent transparent transparent;
    }
      .Paulo{
        flex: 1;
    
        display: flex;
        align-items: center;
        justify-content: space-around;
    margin-right: 100px;
    margin-top: 50px;
        width:auto;
        
    }
    .Paulo img{
        border-radius: 15px;
        position: absolute;
        top: 260vh;
        right: 10vh;
    }
    .Paulo p{
        text-align: center;
        margin-left: 10vw;
        margin-right: 25vw;
        top: 280vh;
         position: absolute;
         word-break:normal;
    }
    .tooltip8 h3{
        display:inline-table;
         position:static;
         font-size: 30px;
         margin: 39vh 0 0 18vw;
         font-family: 'Pixelify Sans', cursive;
         cursor: pointer;
         color: #C0B49A ;
    }
    .tooltip8 {
        position: relative;
        display: inline-block;
        padding: 5px;
      }
      .tooltip8 .tooltiptext8 {
        visibility: hidden;
        width: 15%;
        background-color: hsl(0, 0%, 0%);
        color: #C0B49A;
        text-align: center;
        border-radius: 6px;
        padding:1px;
      
        position: absolute;
        z-index: 2;
      }
      .tooltip8:hover .tooltiptext8 {
        visibility: visible;
        top: 36vh;
      left:30vw;
      }
      .tooltiptext8::after{
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #000000 transparent transparent transparent;
    }
    .group{
        margin: 180px 0 50px 0;
        text-align: center;
    }
    .group img{
        border-radius: 30px;
    }
    .group p{
      padding-top: 40px;
      font-size: 25px;
    }
    .et1{
      flex: 1;
  
      display: flex;
      align-items: center;
      justify-content: space-around;
  margin: 90px 0px 50px 100px;
      width:auto;
      max-width: 1440px;
  }
  .et1 video{
    border-radius: 20px;
    transition:all 0.4s;
  }
  .et1 video:hover{
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
  }
  .et1 p{
      text-align: center;
      margin-right: 100px;
      margin-left: 100px;
      top: -1vh;
       position: relative;
       font-size: 17px;
       line-height: 3vh ;
  }
  .et1 h3{
      display:inline-table;
       position: absolute;
       font-size: 30px;
       margin: 180px 50px 330px 370px;
       font-family: 'Pixelify Sans', cursive;
       cursor: pointer;
       color: #C0B49A ;
  }
  .et1 a{
      display:inline-table;
      position: absolute;
      margin: 350px 0px 220px 330px;
      font-size: 20px;
      font-family: 'Pixelify Sans', cursive;
      cursor: pointer;
      transition:all 0.4s;
      color: #C0B49A ;
  }
  .et1 a:hover{
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        color:  #d6cebd ;
  }
    .et2{
      flex: 1;
  
      display: flex;
      align-items: center;
      justify-content: space-around;
  margin: 50px 100px 50px 0px;
      width:auto;
      max-width: 1440px;
  }
  .et2 img{
    border-radius: 20px;
    transition:all 0.4s;
  }
  .et2 img:hover{
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
  }
  .et2 p{
      text-align: center;
      margin-right: 50px;
      margin-left: 130px;
       position: relative;
      line-height: 18px;
      top: -1vh;
  }
  .et2 h3{
      display:inline-table;
       position: absolute;
       font-size: 30px;
       margin: 25vh 370px 330px 50px;
       font-family: 'Pixelify Sans', cursive;
       cursor: pointer;
       color: #C0B49A ;
  }
  
  .et2 a{
      display:inline-table;
      position: absolute;
      margin: 360px 320px 220px 0px;
      font-size: 20px;
      font-family: 'Pixelify Sans', cursive;
      cursor: pointer;
      transition:all 0.4s;
      color: #C0B49A ;
  }
  .et2 a:hover{
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        color:  #d6cebd ;
      }
  .et3{
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-around;
margin: 50px 0px 50px 100px;
    width:auto;
    max-width: 1440px;
}
.et3 img{
  border-radius: 20px;
  transition:all 0.4s;
}
.et3 img:hover{
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
}
.et3 p{
    text-align: center;
    margin-right: 150px;
    margin-left: 5vw;
     position: relative;
     line-height: 22px;
}
.et3 h3{
    display:inline-table;
     position: absolute;
     font-size: 30px;
     margin: 190px -15vw 330px 0;
     font-family: 'Pixelify Sans', cursive;
     cursor: pointer;
     color: #C0B49A ;
}

.et3 a{
    display:inline-table;
    position: absolute;
    margin: 340px 0px 220px 15vw;
    font-size: 20px;
    font-family: 'Pixelify Sans', cursive;
    cursor: pointer;
    transition:all 0.4s;
      color: #C0B49A ;
}
.et3 a:hover{
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
      color:  #d6cebd ;
}
    .coo{
      flex: 1;
  
      display: flex;
      align-items: center;
      justify-content: space-around;
  margin-right: 100px;
  margin-top: 50px;
      width:auto;
      max-width: 1440px;
  }
  .coo img{
    border-radius: 20px;
    transition:all 0.4s;
  }
  .coo img:hover{
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
  }
  .coo p{
      text-align: center;
      margin-right: 50px;
      margin-left: 150px;
       position: relative;
  }
  .coo h3{
      display:inline-table;
       position: absolute;
       font-size: 30px;
       margin: 190px 370px 330px 50px;
       font-family: 'Pixelify Sans', cursive;
       cursor: pointer;
       color: #C0B49A ;
  }
  .coo a{
      display:inline-table;
      position: absolute;
      margin: 340px 350px 220px 0px;
      font-size: 20px;
      font-family: 'Pixelify Sans', cursive;
      cursor: pointer;
      transition:all 0.4s;
      color: #C0B49A ;
  }
  .coo a:hover{
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        color:  #d6cebd ;
  }
  .scroll1{
    position: absolute;
    top: 25vh;
  }
  .scroll2{
    position: absolute;
    top: -20vh;
  }
  .scroll3{
    position: absolute;
    top: 15vh;
  }
  .scroll4{
    top: 210vh;
    position: absolute;
  }
  h5{
    text-align: center;
    font-size: 45px;
    font-family: 'Pixelify Sans', cursive;
    cursor: pointer;
     color: #C0B49A ;
     padding: 40px;
  }
  ::-webkit-scrollbar{
    background-color: #111214;
    
  }
  ::-webkit-scrollbar-thumb{
    background-color: #2d2924;
    border-radius: 10px;
  }
  